
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page" style="font-size: 20px; text-align: center">Actualizacion de
      Datos
    </li>
  </ol>
</nav>
<div class="row">

  <div class="col-sm-2">
    <img src="/assets/bannerLateral.jpg" class="img-fluid" alt="banner">
  </div>

  <div class="col-sm-8">
    <div class="container">
      <form (ngSubmit)="registroUsuario(formularioRegistro)"
            #formularioRegistro="ngForm">


        <div class="form-group" align="center">
          <mat-form-field class="example-full-width" style="height: 50px ; width: 80%">
            <input matInput
                   type="text" class="form-control" id="nombre" aria-describedby="emailHelp"
                   placeholder="Ingrese su nombre"
                   name="nombre" [(ngModel)]="nombre" #nombreFormulario="ngModel" style="height: 50px; width: 500px"
                   required
                   minlength="4"
                   maxlength="30"
                   pattern="[a-zA-Z]{4,30}"
            >
          </mat-form-field>

          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="nombreFormulario.errors!==null &&
                nombreFormulario.dirty=== true"
            align="center">
            <p *ngIf="nombreFormulario.errors.required">Campo obligatorio!</p>
            <p *ngIf="nombreFormulario.errors.minlength">Nombre debe tener al menos 4 caracteres</p>
            <p *ngIf="nombreFormulario.errors.pattern">Nombre no válido (ingresar solo letras)</p>
          </div>
        </div>


        <div class="form-group" align="center">
          <mat-form-field class="example-full-width" style="height: 50px ; width: 80%">
            <input matInput id="apellido" placeholder="Ingrese su Apellido"
                   name="apellido" [(ngModel)]="apellido" #apellidoFormulario="ngModel" style="height: 50px ; width: 80%"
                   required
                   minlength="4"
                   maxlength="30"
                   pattern="[a-zA-Z]{4,30}"
            >
          </mat-form-field>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="apellidoFormulario.errors!==null &&
                apellidoFormulario.dirty=== true"
            align="center">
            <p *ngIf="apellidoFormulario.errors.required">Campo obligatorio!</p>
            <p *ngIf="apellidoFormulario.errors.minlength">Apellido debe tener al menos 4 caracteres</p>
            <p *ngIf="apellidoFormulario.errors.pattern">Apellido no válido (ingresar solo letras)</p>
          </div>
        </div>


        <div class="form-group" align="center">
          <mat-form-field class="example-full-width" style="height: 50px ; width: 80%">
            <input matInput
                   id="correo" placeholder="Ingrese su correo"
                   name="correo" [(ngModel)]="correoElectronico" #correoFormulario="ngModel" style="height: 50px ; width: 80%"
                   required
                   minlength="5"
                   maxlength="20"
                   pattern="[^@]+@[^@]+\.[a-zA-Z]{2,20}"
            >
          </mat-form-field>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="correoFormulario.errors!==null &&
              correoFormulario.dirty=== true"
            align="center">
            <p *ngIf="correoFormulario.errors.required">Campo obligatorio!</p>
            <p *ngIf="correoFormulario.errors.minlength">El correo electrónico debe tener al menos 5
              caracteres</p>
            <p *ngIf="correoFormulario.errors.pattern">Correo electrónico no válido</p>
          </div>
        </div>


        <div class="form-group" align="center">
          <mat-form-field class="example-full-width" style="height: 50px ; width: 80%">
            <input matInput id="pais" placeholder="Ingrese su Pais"
                   name="pais" [(ngModel)]="pais" #paisFormulario="ngModel"
                   style="height: 50px ; width: 80%"
                   required
                   minlength="5"
                   maxlength="20"
                   pattern="[a-zA-Z]{2,20}"
            >
          </mat-form-field>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="paisFormulario.errors!==null &&
                paisFormulario.dirty=== true"
            align="center">
            <p *ngIf="paisFormulario.errors.required">Campo obligatorio!</p>
            <p *ngIf="paisFormulario.errors.minlength">País debe tener al menos 5
              caracteres</p>
            <p *ngIf="paisFormulario.errors.pattern">Nombre de País no válido</p>
          </div>
        </div>


        <div class="form-group" align="center">
          <mat-form-field class="example-full-width" style="height: 50px ; width: 80%">
            <input matInput id="ciudad" placeholder="Ingrese su ciudad"
                   name="ciudad" [(ngModel)]="ciudad" #ciudadFormulario="ngModel"
                   style="height: 50px ; width: 80%"
                   minlength="7"
                   maxlength="20"
                   pattern="[a-zA-z]{2,20}">
          </mat-form-field>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="ciudadFormulario.errors!==null &&
                ciudadFormulario.dirty=== true"
            align="center">
            <p *ngIf="ciudadFormulario.errors.minlength">Ciudad debe tener al menos 5
              caracteres</p>
            <p *ngIf="ciudadFormulario.errors.pattern">Nombre de ciudad no válido</p>
          </div>
        </div>


        <div class="form-group" align="center">
          <mat-form-field class="example-full-width" style="height: 50px ; width: 80%">
            <input matInput id="telefono" placeholder="Ingrese su telefono"
                   name="numeroTelefono" [(ngModel)]="numeroTelefono" #telefonoFormulario="ngModel"
                   style="height: 50px ; width: 80%"
                   minlength="7"
                   maxlength="20"
                   pattern="[0-9]{7,20}">
          </mat-form-field>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="telefonoFormulario.errors!==null &&
                telefonoFormulario.dirty=== true"
            align="center">
            <p *ngIf="telefonoFormulario.errors.minlength">Número de teléfono debe tener al menos 7
              caracteres</p>
            <p *ngIf="telefonoFormulario.errors.pattern">Numero de teléfono no válido (Ej. 0998877665)</p>
          </div>
        </div>



        <div align="center">

        <button [disabled]="formularioRegistro.invalid" type="submit" class="btn btn-primary" routerLink="/peliculas" >Aceptar</button>
        </div>
      </form>
    </div>

  </div>
  <div class="col-sm-2">
    <img src="/assets/bannerLateral.jpg" class="img-fluid" alt="banner">
  </div>


</div>
