<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page" style="font-size: 20px; text-align: center">Registro de Datos</li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-2">
    <img src="/assets/bannerLateral.jpg" class="img-fluid" alt="banner">
  </div>


  <div class="col-sm-8">
    <div class="container">
      <form>
        <mat-form-field class="example-full-width">
    <textarea matInput
              type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Ingrese su nombre"
              name="nombre" [(ngModel)]="nombre" #nombreFormulario
    ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
    <textarea matInput id="apellido" placeholder="Ingrese su Apellido"
              name="apellido" [(ngModel)]="apellido" #apellidoFormulario

    ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
    <textarea matInput
              id="correo" placeholder="Ingrese su correo"
              name="correo" [(ngModel)]="correoElectronico" #correoFormulario

    ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
    <textarea matInput id="pais" placeholder="Ingrese su Pais"
              name="pais" [(ngModel)]="pais" #paisFormulario

    ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
    <textarea matInput id="ciudad" placeholder="Ingrese su ciudad"
              name="ciudad" [(ngModel)]="ciudad" #ciudadFormulario></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
    <textarea matInput id="telefono" placeholder="Ingrese su telefono"
              name="numeroTelefono" [(ngModel)]="numeroTelefono" #telefonoFormulario></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
         <textarea matInput  id="fecha" placeholder="Ingrese su fecha de nacimiento"
                   name="fecha" [(ngModel)]="fechaNacimiento" #fechaFormulario></textarea>
        </mat-form-field>

        <button type="submit" class="btn btn-primary" routerLink="/reconocimiento" (click)="crear()">Aceptar</button>
      </form>
    </div>

  </div>

  <div class="col-sm-2">
    <img src="/assets/bannerLateral.jpg" class="img-fluid" alt="banner">
  </div>

</div>
