<app-nav-bar></app-nav-bar>

<div class="row">
    <div class="col-sm-1">
      <nav class="navbar navbar-light bg-light" style="width: 180px; margin-top: 20px; height:500px">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Comedia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Romance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Drama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terror</a>
        </li>
      </ul>
      </nav>
    </div>
    <div class="col-sm-11">

      <app-pelicula></app-pelicula>
  </div>
</div>
