<h3 style="text-align: center; margin-top: 30px; background-color: grey; color: white">Bienvenido</h3>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="nombre">Correo</span>
        </div>
        <input type="text" class="form-control" placeholder="Ingrese su correo" aria-label="Nombre" aria-describedby="nombre">
      </div>
    </div>
    <div class="col-sm-6">
      <small id="ayudaContrasena" class="form-text text-muted">Para ingresar se verificara su rostro acerquese a la camara</small>
    </div>

  </div>
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 25rem;">
          <div class="card-header">Acercate a la camara </div>
          <div class="container">
            <div id="app">
              <div><video #video id="video" width="100%" height="100%" autoplay></video></div>
              <div><button id="snap" class="btn btn-secondary" (click)="capture()">Tomar Foto</button></div>
              <canvas #canvas id="canvas" width="640" height="480"></canvas>
              <ul>
                <li *ngFor="let c of captures">
                  <img src="{{ c }}" height="50" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div><button class="btn btn-secondary" (click)="scanImage()">Ingresar</button></div>

      </div>
    </div>
  </div>
</div>

